@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #4169e1;
  --white: #ffffff;
  --black: #3b3b3b;
  --dark: #727272;
  --green: #0d9488;
  --gray: #f0fdfa;
  --tw-gradient-to-1: #f39e0c;
  --tw-gradient-from: #0d9488;
  --tw-gradient-to-2: rgb(30 64 175 / 0);
  --tw-gradient-stops-1: var(--tw-gradient-from), var(--tw-gradient-to-1);
  --tw-gradient-stops-2: var(--tw-gradient-from), var(--tw-gradient-to-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 480px) {
  body {
    display: block;
  }
}
